    <input ng-model="definition.text" class="title" placeholder="{{definition | value_or_id}}">
    <div class="btn-toolbar">
      <a class="btn dropdown-toggle" data-toggle="dropdown" ng-class="{disabled:definition.find_uses().length==0}">
        {{ definition.find_uses().length }} Uses
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="graph in definition.find_uses()">
            <a ng-href="#/{{graph.id}}">{{graph.text}}</a>
        </li>
      </ul>
      <a ng-show="definition_exists(definition)" ng-click="delete_definition(definition)" class="btn">Delete</a>
      <a ng-hide="definition_exists(definition)" ng-click="undelete_definition(definition)" class="btn">Un-Delete</a>

    </div>