<!doctype html>
<html lang="en" ng:app="vislang">
<head>
<title>Visual Language</title>
<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script src="common/raphael.js"></script>
<script src="common/angular-1.0.0rc9.js"></script>
<script src="vector2.js"></script>
<script src="common/underscore.js"></script>
<script src="http://backbonejs.org/backbone.js"></script>
<script src="common/minified/jquery-1.7.2.min.js"></script>
<script src="common/uuid.js"></script>
<script src="stuff.js"></script>
<script src="language.js"></script>

<script src="common/ace/build/src/ace.js"></script>
<script src="common/ace/build/src/mode-javascript.js"></script>
<!--<script src="common/crypto/rollups/sha256.js"-->
<!--<link rel="stylesheet" href="common/reset.css">-->
<link rel="stylesheet" href="style.css">
</head>

<body ng:controller="Controller">

<div id="main">
<nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand">VisLang</a>
                <a class="btn btn-success" ng-click="new_graph()">New Graph</a>
                <a class="btn btn-primary" ng-click="new_code()">New Code</a>
        </div>
    </div>
</nav>

<ng-view></ng-view>
</div>

<ng-include src="'overlays.html'"></ng-include>

</body>
</html>
