<!doctype html>
<html lang="en" ng:app="vislang">
<head>
<title>Visual Language</title>
<link rel="stylesheet" href="bootstrap/css/bootstrap.css">
<link rel="stylesheet" href="bootstrap/css/bootstrap-responsive.css">
<link rel="stylesheet" href="style.css">

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script src="library/angular-1.0.0rc9.js"></script>
<script src="library/underscore.js"></script>
<script src="library/jquery-1.7.2.min.js"></script>
<script src="library/uuid.js"></script>
<script src="library/ace.js"></script>
<script src="library/mode-javascript.js"></script>

<script src="vector2.js"></script>
<script src="stuff.js"></script>
<script src="language.js"></script>
<script src="graph.js"></script>
</head>

<body ng:controller="Controller">

<nav class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container-fluid main" style="position:absolute; left:20px; right:300px;">
            <a class="brand">VisLang</a>
            <a class="btn btn-primary" ng-click="new_code()">New JavaScript</a>
            <a class="btn btn-success" ng-click="new_graph()">New Graph</a>
            <a class="btn btn-success" ng-click="new_graph_from_selection()">New Graph From Selection</a>
        </div>
        <div class="container side" style="position:absolute; right:0; width:280px;">
        <a class="brand">Library</a>
        <form class="navbar-search">
            <input type="search" ng-model="search" class="search-query span2" placeholder="Search">
        </form>
    </div>
    </div>
</nav>

<div id="main">
<ng-view></ng-view>
</div>

<div id="tools" ng-controller="library" class="span4">
<table class="table table-condensed table-striped">

<tr ng-show="is_valid_json(search) && current_object.type == 'subroutine'">
    <td class="name">Literal
    <td>
    <td><a ng-click="use_value(search)">value</a>
</tr>

<tr ng-repeat="subroutine in get_subroutines() | filter:{name:search} | orderBy:'name'">
    <td><a class="name" href="#/{{subroutine.id}}">{{name_subroutine(subroutine)}}</a>
    <td><a ng-click="use(subroutine)">use</a>
    <td><a ng-click="use_value(subroutine)">value</a>
</tr>
</table>
</div>


</body>
</html>
