#main, #tools {position:absolute; top:40px; bottom:0; overflow:auto;}
#tools {right:0; width:300px;}
#tools  table {width:100%;}
#main {left:0; right:300px;}

h2 {margin-top:10px; font-weight:bold; font-family:helvetica}
textarea {display:block}
.name {font-weight:bold}

#inputs_editor, #outputs_editor {display:inline-block; width:300px}

#subroutine {position:absolute; top:0px; left:0; right:0; bottom:0;}

.subroutine-input {position:absolute; right:0;}
.subroutine-output {position:absolute; left:0;}

#connections {position:absolute; width:100%; height:100%;}

.node {position:absolute; white-space:nowrap; border:1px solid black;}
.node > * {display:inline-block; vertical-align:middle; white-space:nowrap;}
.node li {display:block;}
.input {text-align:right;}
.nib {width:10px; height:10px; background:green; border-radius:10px; display:inline-block;}

.subroutine-input input, .subroutine-output input {border:0; padding:0;}

#subroutine .title { position:absolute; left:0; top:0;}
.title {font-size:18pt; border:none; margin-left:5px;}

#new-input, #new-output {
    position:absolute;
    bottom:0;
}
#new-input {right:0;}
#new-output {left:0;}

ul.unstyled {margin:0; padding:0;}
.search-query {margin-bottom:0 !important;}

/*.offescreen {position:absolute; left:-9999px; top:-9999px;}*/

#selection {
    position:absolute;
    background:blue;
}