#tools {position:absolute; left:600px; top:0}
h2 {margin-top:10px; font-weight:bold; font-family:helvetica}
textarea {display:block}
.name {font-weight:bold}

#inputs_editor, #outputs_editor {display:inline-block; width:300px}

#nav {position:absolute; top:0; left:0; right:0; height:30px;}
#subroutine {position:absolute; top:30px; left:0; right:0; bottom:0;}

.node {position:absolute; white-space:nowrap;}
.node h1 {text-align:center;}
.output {text-align:right;}
.inputs-outputs {width:100%;}
.subroutine-input {position:absolute; left:0;}