#tools {position:absolute; left:600px; top:0}
h2 {margin-top:10px; font-weight:bold; font-family:helvetica}
textarea {display:block}
.name {font-weight:bold}

#inputs_editor, #outputs_editor {display:inline-block; width:300px}

#nav {position:absolute; top:0; left:0; right:0; height:30px;}
#subroutine {position:absolute; top:30px; left:0; right:0; bottom:0;}

.subroutine-input {position:absolute; right:0;}
.subroutine-output {position:absolute; left:0;}

#connections {position:absolute; width:100%; height:100%;}

.node {position:absolute; white-space:nowrap; border:1px solid black;}
.node > * {display:inline-block; vertical-align:middle; white-space:nowrap;}
.node li {display:block;}
.output {text-align:right;}
.nib {width:10px; height:10px; background:green; border-radius:10px; display:inline-block;}