#tools {position:absolute; left:600px; top:0}
h2 {margin-top:10px; font-weight:bold; font-family:helvetica}
textarea {display:block}
.name {font-weight:bold}

#inputs_editor, #outputs_editor {display:inline-block; width:300px}

#subroutine {position:relative;}
.node {position:absolute;}